.grid {
    border: solid 1px #e7e7e7;
}

.grid_row {
    display: flex;
    flex-direction: column;
}

.grid_item {
    flex: 1;
    padding: 12px;
    border: solid 1px #e7e7e7;
}

@media all and (min-width: 480px) {
    .grid_row--sm {
        flex-direction: row;
    }
}

@media all and (min-width: 720px) {
    .grid_row--md {
        flex-direction: row;
    }
}

@media all and (min-width: 960px) {
    .grid_row--lg {
        flex-direction: row;
    }
}